@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/Inter-Regular.woff2") format("woff2"),
         url("./fonts/Inter-Regular.woff") format("woff"),
         url("./fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url("./fonts/Inter-Medium.woff2") format("woff2"),
         url("./fonts/Inter-Medium.woff") format("woff"),
         url("./fonts/Inter-Medium.ttf") format("truetype");
  }

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("./fonts/Inter-Bold.woff2") format("woff2"),
         url("./fonts/Inter-Bold.woff") format("woff"),
         url("./fonts/Inter-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("./fonts/Inter-Black.woff2") format("woff2"),
         url("./fonts/Inter-Black.woff") format("woff"),
         url("./fonts/Inter-Black.ttf") format("truetype");
}

.page {
    max-width: 880px;
    margin: auto;
    font-family: 'Inter', Arial, sans-serif;
    background-color: #000000;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

.header {
    max-width: 880px;
    padding: 45px 0 0 0;
    border-bottom: #545454 solid 1px;
}

@media screen and (max-width:320px) {
    .header {
        max-width:100%;
        padding: 28px 0 0 0;
    }
}

.header__logo {
    padding-bottom: 41px;
}

@media screen and (max-width:320px) {
    .header__logo {
        padding: 0 0 31px 27px;
    }
}

.logo {
    width: 142px;
}

@media screen and (max-width:320px) {
    .logo {
        max-width:104px;
    }
}


.profile {
    display:flex;
    justify-content: space-between;
    padding: 40px 0 50px 0;
}

.profile__info {
    display: flex;
}

.profile__avatar {
    max-width: 120px;
    max-height: 120px;
    border-radius: 50%;
    margin-right: 30px;
}

.profile__text {
    align-self: center;
}

.profile__title {
    font-family: Inter 'Arial', sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.15;
    color: #FFFFFF;
    margin: 0 16px 18px 0;
}

.profile__title-job {
    font-family: Inter 'Arial', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: #FFFFFF;
    margin: 0;
}

.profile__edit-button {
    width: 24px;
    height: 24px;
    border-width: 1px;
    border-color: #FFFFFF;
    background-color: transparent;
    cursor: pointer;
    background-image: url(./images/edit-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 34px;
}

.profile__edit-button:hover {
    opacity:.6;
}

.profile__add-button {
    align-self: center;
    width: 150px;
    height: 50px;
    border-width: 2px;
    border-radius: 2px;
    border-color: #FFFFFF;
    background-color: transparent;
    cursor: pointer;
    background-image: url(./images/add-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}

.profile__add-button:hover {
    opacity:.6;
}



.elements__element {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));*/
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));;
    grid-auto-rows: 1fr;
    column-gap: 17px;
    row-gap: 20px;
    max-width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}

.elements__item {
    border-radius: 10px;
    background-color: #FFFFFF;
}

.elements__image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.elements__container {
    display:flex;
    justify-content: space-between;
    padding: 25px 15px 31px 21px;
}

.elements__title {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.elements__like {
    width: 24px;
    background-image: url(./images/like-icon-disabled.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFFFFF;
    border-width: 0;
    cursor: pointer;
}

.elements__like:hover {
    opacity:.5;
}

.elements__like:active {
    width: 22px;
    opacity:1;
    background-image: url(./images/like-icon.svg);
}