.profile__title {
    font-weight: 500;
    font-size: 43px;
    line-height: 1.15;
    color: #FFFFFF;
    margin: 0 18px 0 0;
    max-width: 330px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
}

@media screen and (max-width:720px) {
    .profile__title {
        margin-right: 10px;
        text-align: center;
    }
}

@media screen and (max-width:400px) {
    .profile__title {
        font-size: 27px;
        line-height: 1.2;
        margin: 0 10px 0 27px; 
    }
}