.profile__text {
    display: flex;
    max-width: 350px;
    row-gap: 12px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    
}

@media screen and (max-width:720px) {
    .profile__text {
        flex-direction: column;
        margin: 0 auto;
    }
}


@media screen and (max-width:460px) {
    .profile__text {
        display: flex;
        max-width: 200px;
    }
}