.popup__save-btn {
    background-color: #000000;
    color:#FFFFFF;
    border-width: 0;
    padding:17px 0 14px 0;
    font-size: 18px;
    border-radius: 2px;
    margin-top: 32px;
    cursor: pointer;
}


.popup__save-btn:hover {
    background-color: rgba(0, 0, 0, .8);
}

@media screen and (max-width:400px) {
    .popup__save-btn {
        font-size: 14px;
        margin-top: 45px;
        padding: 14px 0;
    }
}